body{
   margin: 0;
}
.all{
   margin: 0;
   background-color: #1A120B;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.intro{
   border-radius: 20px;
   background-color: #3c2a218d;
   margin: 1.5rem;
   padding: 1.5rem;
   width: 90%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
}
.name>h1{
   display: flex;
   font-size: 100px;
   color: #E5E5CB;
}
.name>p{
   display: flex;
   font-size: 30px;
   color: #D5CEA3;
}
.pic{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 40rem;
   margin-left: 1.5rem;
}
.pic > img{
   height: 600px;
   border-radius: 23%;
}

.skills{
   border-radius: 20px;
   background-color: #1A120B;
   padding: 1.5rem;
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-around;
}

.block{
   border-radius: 30px;
   border: 2px black solid;
   width: 400px;
   height: 450px;
   background-color: #E5E5CB;
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.block>h2{
   padding: 5px;
   color: #3C2A21;
   border-radius: 10px;
   border: 2px dashed #1A120B;
   text-align: center;
   font-size: 65px;
   margin: 0;
   margin: 10px;
}
.block>p{
   color: #1A120B;
   margin: 0;
   margin: 10px;
   text-align: center;
   font-size: 27px;
}
.Edu{
   background-color: #3c2a218d;
   margin: 1.5rem;
}
.block2{
   display: flex;
   flex-direction: column;
   background-color: #D5CEA3;
   border-radius: 20px;
   width: 600px;
   height: 700px;
}
.head{
   display: flex;
   align-items: center;
}
.head > h1{
   margin: 0;
   margin-left: 15px;
   color: #531607;
   font-size: 42px;
}
.head>img{
   height: 90px;
   margin: 0.5rem;
}
.line{
   height: 3px;
   background-color: #1A120B;
}
.subB{
   margin: 1.4rem;
   display: flex;
}
.l{
   height: 100px;
   width: 3px;
   background-color: #1A120B;
   border-radius: 30px;
}
.place{
   margin-left: 5px;
}
.place>p{
   margin: 0;
   font-size: 20px;
   margin: 5px
}
.place>h1{
   color: #3c2a21e9;
   margin: 0;
   margin: 5px;
}