body{
   margin: 0;
}
.all{
   margin: 0;
   background-color: #1A120B;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.intro{
   border-radius: 20px;
   background-color: #3c2a218d;
   margin: 1.5rem;
   padding: 1.5rem;
   width: 92%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
}
.name{
   width: 500px;
}
.name>h1{
   cursor: default;
   display: flex;
   font-size: 80px;
   color: #E5E5CB;
}
.name>p{
   cursor: default;
   display: flex;
   font-size: 25px;
   color: #D5CEA3;
}
.pic{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 1.5rem;
}
.pic > img{
   height: 550px;
   border-radius: 23%;
}

.skills{
   border-radius: 20px;
   background-color: #1A120B;
   padding: 1.5rem;
   width: 92%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-around;
}

.block{

   cursor: default;
   padding-top: 10px;
   border-radius: 30px;
   border: 2px black solid;
   width: 350px;
   height: 400px;
   background-color: #E5E5CB;
   margin: 10px;
   display: flex;
   flex-direction: column;
}
.block>h2{
   padding: 5px;
   color: #3C2A21;
   border-radius: 10px;
   border: 2px dashed #1A120B;
   text-align: center;
   font-size: 55px;
   margin: 0;
   margin: 10px;
}
.block>p{
   color: #1A120B;
   margin: 0;
   margin: 10px;
   text-align: center;
   font-size: 25px;
}
.Edu{
   background-color: #3c2a218d;
   margin: 1.5rem;
}
.block2{
   margin: 0.5rem;
   display: flex;
   flex-direction: column;
   background-color: #D5CEA3;
   border-radius: 20px;
   width: 45%;
   height: 550px;
}
.head{
   display: flex;
   align-items: center;
}
.head > h1{
   cursor: default;
   margin: 0;
   margin-left: 15px;
   color: #531607;
   font-size: 30px;
}
.head>img{
   height: 60px;
   margin: 0.5rem;
}
.line{
   height: 2px;
   background-color: #1A120B;
}
.subB{
   margin: 1rem;
   display: flex;
}
.l{
   height: 80px;
   width: 3px;
   background-color: #1A120B;
   border-radius: 30px;
}
.place{
   margin-left: 5px;
}
.place>p{
   margin: 0;
   font-size: 15px;
   margin: 5px
}
.place>h1{
   color: #3c2a21e9;
   font-size: 25px;
   margin: 0;
   margin: 5px;
}

.contact{
   background-color: #E5E5CB;
   margin-bottom: 1.5rem;
   gap: 1.5rem;
}
.social{
   border: 0px solid black;
   border-radius: 20px;
   background-color:#3c2a215d;
   width: 550px;
   height: 500px;
}

.social>h1{
   color: #1A120B;
   margin: 0;
   margin: 15px;
}
.social>.line{
   height: 1.5px;
}
.social>p{
   color: #1A120B;
   margin: 0;
   margin: 5px;
   font-size: 25px;
}

.links{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}
.links>div{
   display: flex;
   align-items: center;
   margin: 10px;
   margin-left: 40px;
}
.links>div>img{
   height: 30px;
   margin-right: 10px;
}
.links>div>p{
   margin: 0;
   font-size: 20px;
}
#insta{
   margin-right: 10px;
   height: 26px;
}
#face{
   margin-right: 10px;
   height: 32px;
}
#Lin{
   margin-right: 10px;
   height: 25px;
}
#gethub{
   margin-right: 10px;
   height: 32px;
}
.Message{
   border: 0px solid black;
   border-radius: 20px;
   background-color:#3c2a215d;
   width: 550px;
   height: 500px;
}